<div class="container box">

  <p class="intro">Abaixo segue algumas aplicações que desenvolvi com base em meus estudos em <strong>Angular 2</strong>+.
    Em cada 'card' constará suas características (<strong>referente as funcionalidades do Angular que foram utilizadas</strong>) e o botão de acesso.</p>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="card">
      <img src="../../assets/images/aplicacao01.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lista de Itens</h5>
        <ul class="card-text">
          <li>Data Binding</li>
          <li>Service (database)</li>
          <li>Currency Pipe</li>
          <li>Diretivas</li>
        </ul>
        <a routerLink="/produtos" routerLinkActive="selected" class="btn btn-dark">acessar</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="card">
      <img src="../../assets/images/aplicacao02.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">C. R. U. D.</h5>
        <ul class="card-text">
          <li>RXJS</li>
          <li>Firebase (database)</li>
          <li>Async Pipe</li>
          <li>HTTP</li>
        </ul>
        <a routerLink="/crud" routerLinkActive="selected" class="btn btn-dark">acessar</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="card">
      <img src="../../assets/images/aplicacao03.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Contato</h5>
        <ul class="card-text">
          <li>Data Driven</li>
          <li>Webservice (CEP)</li>
          <li>Reactive Form</li>
          <li>Input Mask</li>
        </ul>
        <a routerLink="/contato" routerLinkActive="selected" class="btn btn-dark">acessar</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="card">
      <img src="../../assets/images/aplicacao04.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <ul class="card-text">
          <li>Metadata</li>
          <li>Two-way Data Binding</li>
          <li>Router (guard)</li>
          <li>Eventos</li>
        </ul>
        <a routerLink="/login" routerLinkActive="selected" class="btn btn-dark">acessar</a>
      </div>
    </div>
  </div>

</div>

